BODY
{
	background					: #030303;
	color						: #FAFAFA;
	font-size					: 1.4em;
	//padding-top					: 70px;
	//overflow					: hidden;
}

HEADER
{
	height						: 60px;
	font-size					: 2em;
}

#logo
{
	background					: #030303;
	padding						: 15px;
}

FOOTER
{
	position					: fixed;
	bottom						: 0;
	right						: 0;
	padding						: 15px;
}

#main
{
	overflow					: auto;
}

/* Battles *******************************************************************/
#battle-toolbar
{
	position					: fixed;
	bottom						: 0;
	left						: 0;
	padding						: 5px;
}

#team0-logs,
#team1-logs
{
	overflow-x					: hidden;
	overflow-y					: auto;
	height						: 400px;
	margin						: 15px 0;
	border						: 1px solid #FAFAFA;
}

#team0-logs .fail,
#team1-logs .fail,
#team0-logs .pass,
#team1-logs .pass
{
	padding						: 5px;
	color						: #030303;
	border-bottom				: 1px solid #FAFAFA;
}

#team0-logs .fail,
#team1-logs .fail
{
	background					: #BBAAAA;
}

#team0-logs .pass,
#team1-logs .pass
{
	background					: #AABBAA;
}

#team0-logs UL,
#team1-logs UL
{
	margin-bottom				: 0;
}

#team0-logs LI,
#team1-logs LI
{
	margin-bottom				: 5px;
}

#team0-logs LI:last-child,
#team1-logs LI:last-child
{
	margin-bottom				: 0;
}

.logs-title
{
	display						: block;
	cursor						: pointer;
	font-weight					: bold;
	text-align					: center;
}

#team0-info UL,
#team1-info UL
{
	margin-top					: 10px;
}

#team0 .team0,
#team1 .team1
{
	padding						: 5px;
	text-align					: center;
	font-weight					: bold;
	border-radius				: 5px;
}

#map
{
	overflow					: auto;
	background					: #B7CA79;
}

#map TH
{
	background					: #666666;
	text-align					: center;
}

.cell
{
	width						: 50px;
	height						: 50px;
	min-width					: 50px;
	min-height					: 50px;
	text-align					: center;
	border						: 1px solid #333333;
}

.cell IMG
{
	width						: 50px;
	height						: 50px;
}

.team0
{
	color						: #030303;
	background					: #F6E8B1;
}

.team1
{
	color						: #FAFAFA;
	background					: #89725B;
}

.selected
{
	background-image			: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(0,0,0,.5) 10px, rgba(0,0,0,.5) 20px);

}

.reachable
{
	cursor						: pointer;
	cursor						: url(/img/cursor/move.png), pointer;
	background					: #B0CC99;
}

.attackable
{
	cursor						: url(/img/cursor/sword.png), pointer;
	background-image			: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(255,0,0,.5) 10px, rgba(255,0,0,.5) 20px);
}

/* bootstrap */
.popover-title
{
	color						: #030303;
	font-size					: 1.6em;
}
.popover-content
{
	color						: #030303;
	font-size					: 1.4em;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover
{
	border-radius			: 10px 10px 0 0;;
}

/* Toaster */
.toaster
{
	font=size					: 1.2em;
}
