BODY
{
	background	: #030303;
	color		: #FAFAFA;
	//overflow	: hidden;
}

#nav-top
{
	position	: fixed;
	z-index		: 10;
	top			: 0;
	left		: 0;
	height		: 60px;
	background	: #030303;
}

#logo
{
	padding		: 10px;
}

#nav-left
{
	margin-top	: 80px;
}

#nav-left UL
{
}

#main
{
	margin-top	: 60px;
	overflow	: auto;
}

#nav-right
{
	margin-top	: 60px;
}

#nav-bottom
{
	position	: fixed;
	bottom		: 0;
	left		: 0;
	height		: 20px;
}

#map
{
	overflow	: auto;
	background	: #B7CA79;
}

#map TH
{
	background	: #666666;
	text-align	: center;
}

.line
{
}

.cell
{
	width		: 50px;
	height		: 50px;
	min-width	: 50px;
	min-height	: 50px;
	padding		: 2px;
	text-align	: center;
	border		: 1px solid #333333;
}

.cell IMG
{
	width		: 46px;
	height		: 46px;
}

.team0
{
	color		; #666666;
	background	: #F6E8B1;
}

.team1
{
	color		; #666666;
	background	: #89725B;
}

.selected
{
	//background	: #677E52;
	//background	: #B478C9;
	background	: #666666;
}

.reachable
{
	cursor		: pointer;
	background	: #B0CC99;
}

.attackable
{
	cursor		: pointer;
	background	: #B9121B;
}
