<div class="team0">
	{{battle.map.army[0].player}}
</div>

<div id="team1-logs">
	<div ng-repeat="(iId, oLog) in battle.map.logs[0] | orderBy:'+':true">
		<div class="{{oLog.type}}">

<div class="logs-title" ng-click="oLog.hide=!oLog.hide">
	{{oLog.title}}
	<span class="caret"></span>
</div>

<ul class="list-unstyled" ng-hide="oLog.hide">
	<li ng-repeat="text in oLog.text">{{text}}</li>
</ul>

		</div>
	</div>
</div>

<div id="team0-info" ng-show="battle.info[0].name">
	<div class="team0">{{battle.info[0].name}}</div>

	<ul>
		<li>Attaque 		: {{battle.info[0].att}}%</li>
		<li>Défense			: {{battle.info[0].def}}%</li>
		<li>Points de vie	: {{battle.info[0].pv}}</li>
		<li>Armure			: 1-{{battle.info[0].armor}}</li>
		<li>Dommage			: 1-{{battle.info[0].damage}}</li>
		<li>Mouvement		: {{battle.info[0].move}} case(s)</li>
	</ul>
</div>
