<table id="map">
	<tr>
		<th>0</th>
		<th ng-repeat="x in battle.map.size.arrayX">{{x}}</th>
	</tr>
	<tr ng-repeat="y in battle.map.size.arrayY">
		<th>{{y}}</th>
		<td
			class		= "cell"
			data-x		= "{{x}}"
			data-y		= "{{y}}"
			ng-repeat	= "x in battle.map.size.arrayX"
			ng-click	= "battle.selectDest($event)"
		>

<span 
	data-cost	= "{{object.cost}}"
	ng-repeat	= "object in battle.map.object"
	ng-if		= "x==object.x && y==object.y"
/>
	<img
		alt			= "{{object.type}}"
		ng-src		= "/img/object/{{object.type}}.png"
		uib-tooltip	= "{{object.type}} cost:{{object.cost}}"
	/>
</span>

<a 
	href					= ""
	data-cost				= "0"
	data-unit				= "true"
	data-team				= "{{troop.team}}"
	uib-popover-template	= "battle.map.sTroopInfo"
	popover-title			= "{{troop.name}} [{{troop.team}}] ({{troop.x}}/{{troop.y}})"
	popover-trigger			= "'mouseenter'"
	popover-placement		= "right"
	popover-append-to-body	= "#team{{troop.team}}-info"
	ng-repeat				= "(id, troop) in battle.map.troop"
	ng-if					= "x==troop.x && y==troop.y"
	ng-click				= "battle.selectAtt($event)"
/>
	<img
		alt			= "{{troop.name}}"
		class		= "team{{troop.team}} {{troop.class}}"
		data-id		= "{{id}}"
		ng-src		= "/img/race/{{troop.img}}.png"
	/>
	<!--uib-tooltip-html	= "{{troop.name}}<br /> déplacement:{{troop.move}} -->
</a>

<script type="text/ng-template" id="troop-info.html">
	<ul>
		<li>Attaque 		: {{troop.att}}%</li>
		<li>Défense			: {{troop.def}}%</li>
		<li>Points de vie	: {{troop.pv}}</li>
		<li>Armure			: 1-{{troop.armor}}</li>
		<li>Dommage			: 1-{{troop.damage}}</li>
		<li>Mouvement		: {{troop.move}} case(s)</li>
	</ul>
</script>

		</td>
	</tr>
</table>
