<div class="team1">
	{{battle.map.team[1].player}}
</div>

<div id="team1-logs">
	<div ng-repeat="(iId, oLog) in battle.map.logs[1] | orderBy:'+':true">
		<div class="{{oLog.type}}">

<span class="logs-title" ng-click="oLog.hide=!oLog.hide">{{oLog.title}}</span>

<ul class="list-unstyled" ng-hide="oLog.hide">
	<li ng-repeat="text in oLog.text">{{text}}</li>
</ul>

		</div>
	</div>
</div>

<div id="team1-info" ng-show="battle.info[1].name">
	<div class="team1">{{battle.info[1].name}}</div>

	<ul>
		<li>Attaque 		: {{battle.info[1].att}}%</li>
		<li>Défense			: {{battle.info[1].def}}%</li>
		<li>Points de vie	: {{battle.info[1].pv}}</li>
		<li>Armure			: 1-{{battle.info[1].armor}}</li>
		<li>Dommage			: 1-{{battle.info[1].damage}}</li>
		<li>Mouvement		: {{battle.info[1].move}} case(s)</li>
	</ul>
</div>
